<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>859165377697-9v4l9e0q8m1q8mibhh6c3t4h9u5p4ptr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859165377697-9v4l9e0q8m1q8mibhh6c3t4h9u5p4ptr</string>
	<key>API_KEY</key>
	<string>AIzaSyDl3NGJdHG34C_-Qpf51ALjp01Sn4SZ0_E</string>
	<key>GCM_SENDER_ID</key>
	<string>859165377697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppsInnovation.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-sociallogin-430ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sociallogin-430ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:859165377697:ios:d05912971a8d5abf</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sociallogin-430ef.firebaseio.com</string>
</dict>
</plist>